body {
text-align: center;
padding: 0;
margin: 0;
background: linear-gradient(to bottom, #411231, #15056e);
}

#encodertitle {

    
color:aqua;
}


#chosentheme {
    color: rgb(55, 255, 0);
    font-size: 20px;
}


#phrasedisplay {
background-color: #1a133f;
border: 5px solid #1a7799;
height: 275px;
width: 750px;
margin: 0 auto;
text-align: center;
font-size: 40px;
color:aqua;
}


#encodebtn {
    float: left;
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: aqua; 
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#decodebtn {
    float: right;
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: aqua;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}




#textboxinput {
    display: block;
    height: 100px;
    width: 300px;
    margin: 0 auto;
        text-align: center;
}



#maintextcolor {
    text-align: center;
    color: rgb(255, 251, 0);

}

#secondtextcolor {
    text-align: center;
    color: rgb(64, 255, 0);

}


#militarybtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: aqua;
}

#characterbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(166, 0, 255);
}


#treebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(43, 255, 0);
}



#veggiebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(251, 255, 0);
}

#spicebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(242, 222, 177);
}

#professionbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: rgb(141, 137, 252);
}

#objectbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(137, 252, 141);
}

#locationbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 134, 134);
}


#fruitbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 106, 0);
}

#animalbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(140, 83, 255);
}

#superbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#rockbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.477);
}

#elementbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 115, 255, 0.477);
}

#tvmoviebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}



@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #001789, 0 0 20px #001789, 0 0 25px #001789, 0 0 30px #001789, 0 0 35px #001789;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #00ccff, 0 0 20px #00ccff, 0 0 25px #00ccff, 0 0 30px #00ccff, 0 0 35px #00ccff, 0 0 40px #00ccff;
    }
}
