body {
text-align: center;
padding: 0;
margin: 0;
background: linear-gradient(to bottom, #330e27, #15056e8e);
}

#encodertitle {

    
color:aqua;
}


#complexity {
    background-color: #000000;
    color: rgb(128, 0, 255);

}

#chosentheme {
    color: rgb(119, 0, 255);
    font-size: 20px;
}

#textboxinput {
    background-color: #000000;
    color:rgb(55, 255, 0);
}

#keyseed {
    background-color: #000000;
    color: rgb(246, 255, 0);
}


#customencode {
    width: 400px;
    background-color: #000000;
    color: rgb(2, 238, 255);

}


#phrasedisplay {
background-color: #1a133f;
border: 5px solid #1a7799;
height: 275px;
width: 750px;
margin: 0 auto;
text-align: center;
font-size: 40px;
color:aqua;
}


#encodebtn {
    float: left;
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: aqua; 
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#decodebtn {
    float: right;
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: aqua;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}




#textboxinput {
    display: block;
    height: 100px;
    width: 300px;
    margin: 0 auto;
        text-align: center;
}


#encode-types {
    color: rgb(255, 251, 0);


}

#maintextcolor {
    text-align: center;
    color: rgb(255, 251, 0);

}

#secondtextcolor {
    text-align: center;
    color: rgb(64, 255, 0);

}


#militarybtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: aqua;
}

#characterbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(166, 0, 255);
}


#treebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(43, 255, 0);
}



#veggiebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(251, 255, 0);
}

#spicebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(242, 222, 177);
}

#professionbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: rgb(141, 137, 252);
}

#objectbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(137, 252, 141);
}

#locationbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 134, 134);
}


#fruitbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 106, 0);
}

#animalbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(140, 83, 255);
}

#superbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#rockbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.477);
}

#elementbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 115, 255, 0.477);
}

#tvmoviebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#actionbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: rgb(205, 179, 123);
}


#invisiblebtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(207, 207, 255);
}


#shortbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(150, 67, 109);
}


#robotbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(67, 70, 150);
}

#uncertainbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 141, 207);
}




#amazedbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 0, 89);
}




#hmmbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(153, 255, 0);
}





#duckbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 238, 0);
}





#donkeybtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(211, 87, 29);
}





#animalsoundsbtn {
    background-color: #1a133f;
    border: 5px solid #1a7799;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: rgb(28, 151, 0);
}



.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}



@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #001789, 0 0 20px #001789, 0 0 25px #001789, 0 0 30px #001789, 0 0 35px #001789;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #00ccff, 0 0 20px #00ccff, 0 0 25px #00ccff, 0 0 30px #00ccff, 0 0 35px #00ccff, 0 0 40px #00ccff;
    }
}
